@using SharpBlog.Models
@{
    PagedPosts paged = Page.Posts;
    Page.PageNumber = paged.PageNumber;
    Page.TotalPosts = paged.TotalPosts;
}

<h1>@ViewBag.Title</h1>

@if (!paged.Posts.Any())
{
    <p>No posts were found.</p>
}

@foreach (Post post in paged.Posts)
{
    <div class="post">
        <header class="post-header">
            <h2 class="post-title">@Html.RouteLink(post.Title, "Post", new { slug = post.Slug }, new { rel = "bookmark" })</h2>
            <div class="post-meta">
                @if (post.Date.HasValue)
                {
                    <i class="fa fa-calendar"></i>
                    <span class="posted-on"><time class="post-date published" datetime="@post.Date.ToString()">@post.Date.Value.ToString("MMMM dd, yyyy")</time></span><br />
                }
                @if (post.Tags.Any())
                {
                    <i class="fa fa-tag"></i>
                    <span class="tags-links">@Helpers.RenderTagLinks(post.Tags, " &middot; ")</span>
                }
            </div><!-- .post-meta -->
        </header><!-- .post-header -->

        <div class="post-content">
            <p>@Html.Raw(post.Excerpt)</p>
        </div><!-- .post-content -->

        <footer class="post-footer">
            <i class="fa fa-comment-o"></i> <span class="comments-link"><a href="#respond">0 Comments</a></span>
        </footer><!-- .post-footer -->
    </div><!-- .post -->
}

@RenderPage("_Pagination.cshtml")
