@using SharpBlog.Models
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @Config.Settings.SiteTitle</title>
    <link rel="stylesheet" id="font-awesome-css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" type="text/css" media="all" />
    <link rel="stylesheet" id="google-fonts-css" href="//fonts.googleapis.com/css?family=Open+Sans:400,700" type="text/css" media="all" />
    <link rel="stylesheet" href="@Url.Content($"~/Themes/{Config.Settings.Theme}/css/style.min.css")"/>
</head>
<body>
    <div id="sidebar">
        <div id="sidebar-content" class="inner widget-area" role="complementary">

            <header id="masthead" class="site-header" role="banner">
                <div class="site-branding">
                    <a class="site-logo" href="@Config.Settings.SiteUrl" rel="home">
                        <img src="@Config.Settings.SiteLogo" width="128" height="128" alt="@Config.Settings.SiteTitle">
                    </a>

                    <h1 class="site-title"><a href="@Config.Settings.SiteUrl" rel="home">@Config.Settings.SiteTitle</a></h1>
                </div><!-- .site-branding -->
            </header><!-- #masthead -->
            
            <div class="widget search">
                <form id="searchform" method="get" action=".">
                    <input type="text" name="s" id="s" placeholder="Search" />
                </form>
            </div>

            <div class="widget social-icons">
                <ul>
                    @foreach (var link in Config.Settings.Links)
                    {
                        <li>
                            <a href="@link.Url">
                                <i class="fa fa-@link.FontAwesomeIcon"></i> @link.Title
                            </a>
                        </li>
                    }
                </ul>
            </div>

            <footer id="colophon" class="site-footer" role="contentinfo">
                <div class="site-info">
                    <section class="copyright">
                        &copy; @DateTime.Now.Year <a href="https://bcwood.me/" rel="home">Brandon Wood</a>
                    </section>
                    @*<section class="poweredby">
                        <i class="fa fa-wordpress"></i> <a href="https://wordpress.org/">WordPress</a> -
                        <a href="https://github.com/bcwood/StayPuft-WP">StayPuft theme</a>
                    </section>*@
                </div><!-- .site-info -->
            </footer><!-- #colophon -->
        </div><!-- #sidebar-content -->
    </div><!-- #sidebar -->

    <div id="main" class="site-main" role="main">
        <div class="site-content">
            @RenderBody()
        </div><!-- .site-content -->
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
