@using SharpBlog.Models
@model List<Post>
@{
    ViewBag.Title = "Home";
}

@foreach (Post post in Model)
{
    <div class="post">
        <header class="post-header">
            <h2 class="post-title">@Html.RouteLink(post.Title, "PostSingle", new { slug = post.Slug }, new { rel = "bookmark" })</h2>
            <div class="post-meta">
                <i class="fa fa-calendar"></i> <span class="posted-on"><time class="post-date published" datetime="@post.Date.Value.ToString()">@post.Date.Value.ToString("MMMM dd, yyyy")</time></span>
                <br /><i class="fa fa-tag"></i> <span class="tags-links">@Html.Raw(string.Join(" &middot; ", post.Tags))</span>
            </div><!-- .post-meta -->
        </header><!-- .post-header -->

        <div class="post-content">
            @Html.Raw(post.Body)
        </div><!-- .post-content -->

        <footer class="post-footer">
            <i class="fa fa-comment-o"></i> <span class="comments-link"><a href="#respond">0 Comments</a></span>
        </footer><!-- .post-footer -->
    </div><!-- .post -->
}
